Table as_ 22_q: Arrivals, and requests for transfer into the UK under the Dublin Regulation, by article and country of transfer

In [1]:
from gssutils import *

scraper = Scraper('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
scraper

## Immigration statistics, October to December 2017: data tables second edition

Listing of the data tables included in 'Immigration statistics, October to December 2017’.

### Description

Listing of the data tables included in [‘Immigration Statistics, October to
December 2017’](https://www.gov.uk/government/statistics/immigration-
statistics-october-to-december-2017).

Data is in yearly or quarterly divisions.

To view and use ‘ODS’ files, OS X users can [download
OpenOffice](http://www.openoffice.org/download/).



### Distributions

1. Sponsorship data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683358/sponsorship-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 1 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683359/entry-visas1-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 2 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681238/entry-visas2-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681241/entry-visas3-oct-dec-2017-tables.ods))
1. Admissions data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681242/admissions-oct-dec-2017-tables.ods))
1. Extensions of stay data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681243/extensions-oct-dec-2017-tables.ods))
1. Settlement data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681244/settlement-oct-dec-2017-tables.ods))
1. Citizenship data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683360/citizenship-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 1 second edition ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691963/asylum1-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 2 second edition ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691964/asylum2-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691965/asylum3-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 4 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691967/asylum4-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 5 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691969/asylum5-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 1 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681246/returns1-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 2 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683361/returns2-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683362/returns3-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 4 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681250/returns4-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 5 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681251/returns5-oct-dec-2017-tables.ods))
1. Detention data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681703/detention-oct-dec-2017-tables.ods))
1. European Economic Area data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681253/eea-oct-dec-2017-tables.ods))

In [2]:
dist = scraper.distribution(
    title='Asylum data tables immigration statistics October to December 2017 volume 5')
sheets = dist.as_pandas()
sheets.keys()

dict_keys(['Cover_sheet', 'Contents', 'Notes_', 'as_21_q', 'as_22_q', 'as_23_q'])

Metadata is in the spreadsheet 'Contents' tab

In [3]:
TAB_NAME = 'as_22_q'

contents = sheets['Contents'].iloc[7:].copy()
contents.rename(columns=contents.iloc[0], inplace=True)
contents.drop(contents.index[0], inplace=True)
metadata = contents[contents['Table'] == TAB_NAME].iloc[0]
display(metadata)
scraper.dataset.comment = f'{scraper.dataset.title}: table "{TAB_NAME}"'
scraper.dataset.title = metadata['Title']
scraper.dataset.issued = metadata['Last updated']
scraper.dataset.updateDueOn = metadata['Next planned update']
del scraper.dataset.description
scraper.dataset

Table                                                             as_22_q
Title                   Arrivals, and requests for transfer into the U...
Period covered                                         2015 Q1 to Q4 2017
National Statistics?                                                  Yes
Last updated                                          2018-02-22 00:00:00
Next planned update                                   2019-02-21 00:00:00
Notes
Name: 42, dtype: object

In [4]:
Final_table = pd.DataFrame()

In [5]:
observations = sheets[TAB_NAME].loc[3:, :15]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
new_table = pd.melt(observations,
                       ['Quarter','Country Transferred from '],
                       var_name="Total arrivals into the UK",
                       value_name="Value")
new_table.Value.dropna(inplace =True)
new_table.rename(columns={'Total arrivals into the UK': 'Dublin Regulation Article'}, inplace=True)
new_table['Nature of Transfer'] = 'arrivals'
new_table['Unit'] = 'arrivals'
new_table['Measure Type'] = 'Count'
Final_table = pd.concat([Final_table, new_table])

In [6]:
observations1 = sheets[TAB_NAME].loc[3:, :30]
observations1.drop(observations1.iloc[: , 2:16], inplace=True, axis=1)
observations1.rename(columns= observations1.iloc[0], inplace=True)
observations1.drop(observations1.index[0], inplace = True)
new_table = pd.melt(observations1,
                       ['Quarter','Country Transferred from '],
                       var_name="Total requests for transfers into the UK",
                       value_name="Value")
new_table.Value.dropna(inplace =True)
new_table.rename(columns={'Total requests for transfers into the UK': 'Dublin Regulation Article'}, inplace=True)
new_table['Nature of Transfer'] = 'requests-for-transfer'
new_table['Unit'] = 'requests-for-transfer'
new_table['Measure Type'] = 'Count'
Final_table = pd.concat([Final_table, new_table])

In [7]:
Final_table['Value'] = Final_table['Value'].map(lambda x : ''
                                                   if (x == '.') | (x == 'z') | ( x == ':')
                                                    else x )

In [8]:
import numpy as np
Final_table['Value'].replace('', np.nan, inplace=True)
Final_table.dropna(subset=['Value'], inplace=True)
Final_table['Value'] = Final_table['Value'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
Final_table['Value'] = Final_table['Value'].astype(int)

In [9]:
Final_table.rename(columns={'Quarter': 'Period'}, inplace=True)
Final_table['Period'] = Final_table['Period'].astype(str)
Final_table = Final_table[Final_table['Period'] != '']
Final_table['Period'] = 'quarter/' + Final_table['Period'].map(lambda cell: cell.replace(' ','-'))

In [10]:
Final_table['Country Transferred'] = Final_table['Country Transferred from '].str.lstrip('*')

In [11]:
import urllib.request as request
import csv
import io
import requests
r = request.urlopen('https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/foreign-geography.csv').read().decode('utf8').split("\n")
reader = csv.reader(r)
url="https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/foreign-geography.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
Final_table = pd.merge(Final_table, c, how = 'left', left_on = 'Country Transferred', right_on = 'Label')
Final_table.columns = ['Foreign geography' if x=='Notation' else x for x in Final_table.columns]

In [12]:
Final_table['Dublin Regulation Article'] = Final_table['Dublin Regulation Article'].map(
    lambda x: {
        'Total arrivals into the UK ':'total',
        'Arrivals into UK: article 8.1 ':'article-8-1',
        'Arrivals into UK: article 8.2':'article-8-2',
        'Arrivals into UK: article 9':'article-9',
        'Arrivals into UK: article 10':'article-10',
        'Arrivals into UK: article 11':'article-11',
        'Arrivals into UK: article 12':'article-12',
        'Arrivals into UK: article 13':'article-13',
        'Arrivals into UK: article 14':'article-14',
        'Arrivals into UK: article 15':'article-15',
        'Arrivals into UK: article 16':'article-16',
        'Arrivals into UK: article 17.2':'article-17-2',
        'Arrivals into UK: article 18.1':'article-18-1',
        'Arrivals into UK: article 20.5':'article-20-5',
        'Total requests for transfers into the UK':'total',
        'Requests for transfer into UK: article 8.1':'article-8-1',
        'Requests for transfer into UK: article 8.2':'article-8-2',
        'Requests for transfer into UK: article 9':'article-9',
        'Requests for transfer into UK: article 10':'article-10',
        'Requests for transfer into UK: article 11':'article-11',
        'Request for transfer into UK: article 12':'article-12',
        'Requests for transfer into UK: article 13':'article-13',
        'Requests for transfer into UK: article 14':'article-14',
        'Requests for transfer into UK: article 15':'article-15',
        'Request for transfer into UK: article 16':'article-16',
        'Request for transfer into UK: article 17.2':'article-17-2',
        'Request for transfer into UK: article 18.1':'article-18-1',
        'Request for transfer into UK: article 20.5':'article-20-5'        
        }.get(x, x))

In [13]:
Final_table = Final_table[['Period','Foreign geography','Nature of Transfer','Dublin Regulation Article','Measure Type','Value','Unit']]

In [14]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.drop_duplicates().to_csv(destinationFolder / f'{TAB_NAME}.csv', index = False)

In [15]:
from gssutils.metadata import THEME

scraper.dataset.family = 'migration'
scraper.dataset.theme = THEME['population']
scraper.set_base_uri('http://gss-data.org.uk')
scraper.set_dataset_id(f'migration/ho-asylum/{TAB_NAME}')
with open(destinationFolder / f'{TAB_NAME}.csv-metadata.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [16]:
schema = CSVWMetadata('https://ons-opendata.github.io/ref_migration/')
schema.create(destinationFolder / f'{TAB_NAME}.csv', destinationFolder / f'{TAB_NAME}.csv-schema.json')

In [17]:
Final_table

,Period,Foreign geography,Nature of Transfer,Dublin Regulation Article,Measure Type,Value,Unit
0,quarter/2015-Q1,nrs/total,arrivals,total,Count,41,arrivals
1,quarter/2015-Q1,austria,arrivals,total,Count,1,arrivals
2,quarter/2015-Q1,belgium,arrivals,total,Count,1,arrivals
3,quarter/2015-Q1,bulgaria,arrivals,total,Count,0,arrivals
4,quarter/2015-Q1,croatia,arrivals,total,Count,0,arrivals
5,quarter/2015-Q1,cyprus,arrivals,total,Count,2,arrivals
6,quarter/2015-Q1,czech-republic,arrivals,total,Count,0,arrivals
7,quarter/2015-Q1,denmark,arrivals,total,Count,2,arrivals
8,quarter/2015-Q1,estonia,arrivals,total,Count,0,arrivals
9,quarter/2015-Q1,finland,arrivals,total,Count,2,arrivals
10,quarter/2015-Q1,france,arrivals,total,Count,5,arrivals
11,quarter/2015-Q1,germany,arrivals,total,Count,4,arrivals
12,quarter/2015-Q1,greece,arrivals,total,Count,5,arrivals
13,quarter/2015-Q1,hungary,arrivals,total,Count,0,arrivals
14,quarter/2015-Q1,iceland,arrivals,total,Count,0,arrivals
15,quarter/2015-Q1,ireland,arrivals,total,Count,3,arrivals
16,quarter/2015-Q1,italy,arrivals,total,Count,2,arrivals
17,quarter/2015-Q1,latvia,arrivals,total,Count,0,arrivals
18,quarter/2015-Q1,liechtenstein,arrivals,total,Count,0,arrivals
19,quarter/2015-Q1,lithuania,arrivals,total,Count,0,arrivals
20,quarter/2015-Q1,luxembourg,arrivals,total,Count,0,arrivals
21,quarter/2015-Q1,malta,arrivals,total,Count,0,arrivals
22,quarter/2015-Q1,netherlands,arrivals,total,Count,1,arrivals
23,quarter/2015-Q1,norway,arrivals,total,Count,0,arrivals
24,quarter/2015-Q1,poland,arrivals,total,Count,1,arrivals
25,quarter/2015-Q1,portugal,arrivals,total,Count,0,arrivals
26,quarter/2015-Q1,romania,arrivals,total,Count,0,arrivals
27,quarter/2015-Q1,slovakia,arrivals,total,Count,0,arrivals
28,quarter/2015-Q1,slovenia,arrivals,total,Count,0,arrivals
29,quarter/2015-Q1,spain,arrivals,total,Count,0,arrivals
...,...,...,...,...,...,...,...
10722,quarter/2017-Q4,belgium,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10723,quarter/2017-Q4,bulgaria,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10724,quarter/2017-Q4,croatia,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10725,quarter/2017-Q4,cyprus,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10726,quarter/2017-Q4,czech-republic,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10727,quarter/2017-Q4,denmark,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10728,quarter/2017-Q4,estonia,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10729,quarter/2017-Q4,finland,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10730,quarter/2017-Q4,france,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10731,quarter/2017-Q4,germany,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10732,quarter/2017-Q4,greece,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10733,quarter/2017-Q4,hungary,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10734,quarter/2017-Q4,iceland,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10735,quarter/2017-Q4,ireland,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10736,quarter/2017-Q4,italy,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10737,quarter/2017-Q4,latvia,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10738,quarter/2017-Q4,liechtenstein,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10739,quarter/2017-Q4,lithuania,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10740,quarter/2017-Q4,luxembourg,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10741,quarter/2017-Q4,malta,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10742,quarter/2017-Q4,netherlands,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10743,quarter/2017-Q4,norway,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10744,quarter/2017-Q4,poland,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10745,quarter/2017-Q4,portugal,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10746,quarter/2017-Q4,romania,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10747,quarter/2017-Q4,slovakia,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10748,quarter/2017-Q4,slovenia,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10749,quarter/2017-Q4,spain,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10750,quarter/2017-Q4,sweden,requests-for-transfer,article-20-5,Count,0,requests-for-transfer
10751,quarter/2017-Q4,switzerland,requests-for-transfer,article-20-5,Count,0,requests-for-transfer