as_04: Asylum applications from main applicants and dependants, by age, sex and country of nationality

In [1]:
def is_interactive():
    import __main__ as main
    return not hasattr(main, '__file__')

if is_interactive():
    %run lib/scrape_govuk.ipynb
    metadata = scrape('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
    import pyexcel
    from io import BytesIO

    ods_files = [f for f in metadata['files']
                 if f['type'] == 'ODS' and
                 f['title'] == 'Asylum data tables immigration statistics October to December 2017 volume 2 second edition']
    assert len(ods_files) == 1, 'Should be exactly one matching ODS file'

    ods_url = ods_files[0]['url']
    ods_title = ods_files[0]['title']

    ods_file = BytesIO(session.get(ods_files[0]['url']).content)

    data = pyexcel.get_sheet(file_content=ods_file, file_type='ods', sheet_name='as_04', library='pyexcel-ods3')

https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691964/asylum2-oct-dec-2017-tables.ods

In [2]:
df = pd.DataFrame(data.get_array())
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Table as_04: Asylum applications from main app...,,,,,,,,,,...,,,,,,,,,,
1,Back to contents,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,Year,Geographical region,Country of nationality,Total Applications,Total male applications,Male: \nunder 5,Male: 5-9,Male: 10-13,Male: 14-15,Male: 16-17,...,Female: 21-24,Female: 25-29,Female: 30-34,Female: 35-39,Female: 40-49,Female: 50-59,Female: 60-64,Female: \n65+,Female: Age unknown,Sex unknown
4,2008,*Total,*Total,31313,21020,1017,521,657,1118,1940,...,1103,2054,1433,962,927,362,97,143,159,30
5,2008,Africa North,*Total Africa North,883,757,24,13,6,15,44,...,10,28,15,9,11,4,0,4,6,1
6,2008,Africa Sub-Saharan,*Total Africa Sub-Saharan,11852,6067,556,199,134,101,287,...,594,1205,860,545,530,219,50,69,68,7
7,2008,America North,*Total America North,26,13,0,0,0,1,1,...,0,2,1,1,0,0,0,1,0,0
8,2008,America Central and South,*Total America Central and South,477,311,18,10,6,4,5,...,12,28,34,19,25,6,0,0,0,0
9,2008,Asia Central,*Total Asia Central,3776,3524,37,28,210,600,756,...,23,49,13,14,21,6,9,9,2,4
10,2008,Asia East,*Total Asia East,1957,1005,66,8,8,13,68,...,165,202,106,94,55,14,0,4,44,5
11,2008,Asia South,*Total Asia South,5292,3567,203,162,209,124,121,...,142,303,273,150,150,61,14,27,30,5
12,2008,Asia South East,*Total Asia South East,518,375,11,4,4,9,17,...,25,31,18,20,17,4,1,1,1,0
13,2008,EU 14,*Total EU 14,6,3,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
14,2008,EU 2,*Total EU 2,4,1,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
15,2008,EU 8,*Total EU 8,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2008,EU Other,*Total EU Other,4,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,2008,Europe Other,*Total Europe Other,848,596,28,23,6,36,74,...,44,58,21,22,26,5,2,3,5,1
18,2008,Middle East,*Total Middle East,5576,4721,69,73,73,214,566,...,83,146,90,87,91,41,20,24,3,7
19,2008,Oceania,*Total Oceania,7,5,2,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
20,2008,Other,*Total Other,85,72,2,1,1,1,1,...,2,0,2,0,1,1,1,1,0,0
21,2008,Asia Central,Afghanistan,3724,3492,30,28,208,600,755,...,20,44,10,13,18,5,9,9,2,4
22,2008,Europe Other,Albania,173,143,2,1,2,21,42,...,4,6,6,3,0,0,0,0,2,0
23,2008,Africa North,Algeria,383,340,9,4,1,11,26,...,2,11,6,2,4,3,0,0,1,0
24,2008,Oceania,American Samoa,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2008,Europe Other,Andorra,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2008,Africa Sub-Saharan,Angola,98,50,5,1,3,3,1,...,7,7,4,1,1,2,0,0,0,0
27,2008,Other,Anguilla (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2008,America Central and South,Antigua and Barbuda,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29,2008,America Central and South,Argentina,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,,,,,,,,,,,...,,,,,,,,,,
2616,,,,,,,,,,,...,,,,,,,,,,
2617,,,,,,,,,,,...,,,,,,,,,,
2618,,,,,,,,,,,...,,,,,,,,,,
2619,,,,,,,,,,,...,,,,,,,,,,
2620,,,,,,,,,,,...,,,,,,,,,,
2621,,,,,,,,,,,...,,,,,,,,,,
2622,,,,,,,,,,,...,,,,,,,,,,
2623,,,,,,,,,,,...,,,,,,,,,,
2624,,,,,,,,,,,...,,,,,,,,,,
2625,,,,,,,,,,,...,,,,,,,,,,
2626,,,,,,,,,,,...,,,,,,,,,,
2627,,,,,,,,,,,...,,,,,,,,,,
2628,,,,,,,,,,,...,,,,,,,,,,
2629,,,,,,,,,,,...,,,,,,,,,,
2630,,,,,,,,,,,...,,,,,,,,,,
2631,,,,,,,,,,,...,,,,,,,,,,
2632,,,,,,,,,,,...,,,,,,,,,,
2633,,,,,,,,,,,...,,,,,,,,,,
2634,,,,,,,,,,,...,,,,,,,,,,
2635,,,,,,,,,,,...,,,,,,,,,,
2636,,,,,,,,,,,...,,,,,,,,,,
2637,,,,,,,,,,,...,,,,,,,,,,
2638,,,,,,,,,,,...,,,,,,,,,,
2639,,,,,,,,,,,...,,,,,,,,,,
2640,,,,,,,,,,,...,,,,,,,,,,
2641,,,,,,,,,,,...,,,,,,,,,,
2642,,,,,,,,,,,...,,,,,,,,,,
2643,,,,,,,,,,,...,,,,,,,,,,
2644,,,,,,,,,,,...,,,,,,,,,,

In [3]:
observations = df.loc[3:, :36]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
observations.drop('Geographical region', axis = 1, inplace = True)
Final_table = pd.melt(observations,
                       ['Year','Country of nationality'],
                       var_name= 'Application',
                       value_name="Value")
Final_table.Value.dropna(inplace =True)
Final_table.rename(columns={'Country of nationality': 'Nationality'}, inplace=True)
Final_table['Unit'] = 'Applications'
Final_table['Measure Type'] = 'Count'

In [4]:
Final_table['Value'] = Final_table['Value'].map(lambda x : ''
                                                   if (x == '.') | (x == 'z') | ( x == ':')
                                                    else x )

In [5]:
import numpy as np
Final_table['Value'].replace('', np.nan, inplace=True)
Final_table.dropna(subset=['Value'], inplace=True)
Final_table['Value'] = Final_table['Value'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
Final_table['Value'] = Final_table['Value'].astype(int)

In [6]:
Final_table.rename(columns={'Year': 'Period'}, inplace=True)
Final_table['Period'] = Final_table['Period'].astype(str)
Final_table = Final_table[Final_table['Period'] != '']
Final_table['Period'] = 'year/' + Final_table['Period'].map(lambda cell: cell.replace(' ','-'))

In [7]:
Final_table['Nationality'] = Final_table['Nationality'].str.lstrip('*')

In [8]:
Final_table['Nationality'] = Final_table['Nationality'].map(
    lambda x: {
        'Total Africa North' : 'Africa North',
        'Total Africa Sub-Saharan' : 'Africa Sub-Saharan',
        'Total America North' : 'America North',
        'Total America Central and South ' : 'America Central and South',
        'Total Asia Central' : 'Asia Central',
        'Total Asia East' : 'Asia East',
        'Total Asia South' : 'Asia South',
        'Total Asia South East' : 'Asia South East',
        'Total EU 14' : 'EU 14',
        'Total EU 2' : 'EU 2',
        'Total EU 8' : 'EU 8',
        'Total EU Other' : 'EU Other',
        'Total Europe Other' : 'Europe Other',
        'Total Middle East' : 'Middle East',
        'Total Oceania' : 'Oceania',
        'Total Other' : 'Other'                    
        }.get(x, x))

In [9]:
import urllib.request as request
import csv
import io
import requests
r = request.urlopen('https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/ho-country-of-nationality.csv').read().decode('utf8').split("\n")
reader = csv.reader(r)
url="https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/ho-country-of-nationality.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
Final_table = pd.merge(Final_table, c, how = 'left', left_on = 'Nationality', right_on = 'Label')
Final_table.columns = ['Country of nationality' if x=='Notation' else x for x in Final_table.columns]

In [10]:
Final_table = Final_table[['Country of nationality','Period','Application','Measure Type','Value','Unit']]

In [11]:
Final_table['Age'] = Final_table['Application'].map(
    lambda x: {
        'Total Applications' : 'all',
        'Total male applications' : 'all', 
        'Male: \nunder 5' : 'hoad/under-5',
         'Male: 5-9' : 'hoad/5-9', 
        'Male: 10-13' : 'hoad/10-13', 
        'Male: 14-15' : 'hoad/14-15', 
        'Male: 16-17' : 'hoad/16-17',
         'Male: 18-20' : 'hoad/18-20', 
        'Male: 21-24' : 'hoad/21-24', 
        'Male: 25-29' : 'hoad/25-29', 
        'Male: 30-34' : 'hoad/30-34',
         'Male: 35-39' : 'hoad/35-39', 
        'Male: 40-49' : 'hoad/40-49', 
        'Male: 50-59': 'hoad/50-59', 
        'Male: 60-64' : 'hoad/60-64',
        'Male: 65+' : 'hoad/65-plus', 
        'Male: Age unknown' : 'hoad/unknown', 
        'Total female applications' : 'all',
        'Female: under 5' : 'hoad/under-5', 
        'Female: \n5-9' : 'hoad/5-9', 
        'Female: 10-13' : 'hoad/10-13',
         'Female: 14-15' : 'hoad/14-15', 
        'Female: 16-17' : 'hoad/16-17', 
        'Female: 18-20' : 'hoad/18-20', 
        'Female: 21-24': 'hoad/21-24',
        'Female: 25-29' : 'hoad/25-29', 
        'Female: 30-34': 'hoad/30-34', 
        'Female: 35-39' : 'hoad/35-39', 
        'Female: 40-49' : 'hoad/40-49',
         'Female: 50-59' : 'hoad/50-59', 
        'Female: 60-64' : 'hoad/60-64', 
        'Female: \n65+': 'hoad/65-plus',
        'Female: Age unknown' : 'hoad/unknown', 
        'Sex unknown' : 'hoad/unknown'
        }.get(x, x))

In [12]:
Final_table['Sex'] = Final_table['Application'].map(
    lambda x: {
        'Total Applications' : 'T',
        'Total male applications' : 'M', 
        'Male: \nunder 5' : 'M',
         'Male: 5-9' : 'M', 
        'Male: 10-13' : 'M', 
        'Male: 14-15' : 'M', 
        'Male: 16-17' : 'M',
         'Male: 18-20' : 'M', 
        'Male: 21-24' : 'M', 
        'Male: 25-29' : 'M', 
        'Male: 30-34' : 'M',
         'Male: 35-39' : 'M', 
        'Male: 40-49' : 'M', 
        'Male: 50-59': 'M', 
        'Male: 60-64' : 'M',
        'Male: 65+' : 'M', 
        'Male: Age unknown' : 'M', 
        'Total female applications' : 'F',
        'Female: under 5' : 'F', 
        'Female: \n5-9' : 'F', 
        'Female: 10-13' : 'F',
         'Female: 14-15' : 'F', 
        'Female: 16-17' : 'F', 
        'Female: 18-20' : 'F', 
        'Female: 21-24': 'F',
        'Female: 25-29' : 'F', 
        'Female: 30-34': 'F', 
        'Female: 35-39' : 'F', 
        'Female: 40-49' : 'F',
         'Female: 50-59' : 'F', 
        'Female: 60-64' : 'F', 
        'Female: \n65+': 'F',
        'Female: Age unknown' : 'F', 
        'Sex unknown' : 'U'
        }.get(x, x))

In [13]:
Final_table = Final_table[['Country of nationality','Period','Age','Sex','Measure Type','Value','Unit']]

In [14]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('as_04.csv'), index = False)