Home Office, Immigration Statistics October to December 2016, Asylum table as 01 q (Asylum volume 1)

In [1]:
def is_interactive():
    import __main__ as main
    return not hasattr(main, '__file__')

if is_interactive():
    %run lib/scrape_govuk.ipynb
    metadata = scrape('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
    import pyexcel
    from io import BytesIO

    ods_files = [f for f in metadata['files']
                 if f['type'] == 'ODS' and
                 f['title'] == 'Asylum data tables immigration statistics October to December 2017 volume 1 second edition']
    assert len(ods_files) == 1, 'Should be exactly one matching ODS file'

    ods_url = ods_files[0]['url']
    ods_title = ods_files[0]['title']

    ods_file = BytesIO(session.get(ods_files[0]['url']).content)

    data = pyexcel.get_sheet(file_content=ods_file, file_type='ods', sheet_name='as_01', library='pyexcel-ods3')

In [2]:
df = pd.DataFrame(data.get_array())
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Table as_01: Asylum applications and initial d...,,,,,,,,,,...,,,,,,,,,,
1,Back to contents,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,Year,Geographical region,Country of nationality,Total applications,Applications received at ports,Applications received in-country,Total initial decisions,Total grants,Grants of asylum,Grants of HP,...,3rd country refusals,Non-compliance refusals,Total withdrawals,Non-substantiated withdrawals,Fresh claims,Total pending,Total pending initial \ndecision,Pending initial decision for less than or equa...,Pending initial decision for more than 6 months,Pending further \nreview
4,1984,*Total,*Total,2905,:,:,1431,1084,453,z,...,:,:,175,z,:,:,:,:,:,:
5,1985,*Total,*Total,4389,:,:,2635,2133,574,z,...,:,:,201,z,:,:,:,:,:,:
6,1986,*Total,*Total,4266,:,:,2983,2450,348,z,...,:,:,164,z,:,:,:,:,:,:
7,1987,*Total,*Total,4256,:,:,2432,1797,266,z,...,:,:,200,z,:,:,:,:,:,:
8,1988,*Total,*Total,3998,:,:,2702,2206,628,z,...,:,:,281,z,:,:,:,:,:,:
9,1989,*Total,*Total,11640,:,:,6955,6070,2210,z,...,:,:,350,z,:,:,:,:,:,:
10,1990,*Total,*Total,26205,:,:,4025,3320,920,z,...,:,:,370,z,:,:,:,:,:,:
11,1991,*Total,*Total,44840,:,:,6075,2695,505,z,...,:,:,745,z,:,:,:,:,:,:
12,1992,*Total,*Total,24605,:,:,34900,16440,1115,z,...,:,:,1540,z,:,:,:,:,:,:
13,1993,*Total,*Total,22370,:,:,23405,12715,1590,z,...,:,:,1925,z,:,:,:,:,:,:
14,1994,*Total,*Total,32831,:,:,20988,4487,827,z,...,:,:,2391,z,:,:,:,:,:,:
15,1995,*Total,*Total,43963,:,:,27006,5705,1294,z,...,:,:,2564,z,:,:,:,:,:,:
16,1996,*Total,*Total,29642,:,:,38962,7293,2239,z,...,:,:,2926,z,:,:,:,:,:,:
17,1997,*Total,*Total,32502,:,:,36044,7100,3986,z,...,:,:,2065,z,:,:,:,:,:,:
18,1998,*Total,*Total,46014,:,:,31571,9255,5346,z,...,:,:,1469,z,:,:,:,:,:,:
19,1999,*Total,*Total,71158,:,:,21307,10283,7816,z,...,:,:,732,z,:,:,:,:,:,:
20,2000,*Total,*Total,80315,:,:,97547,21868,10373,z,...,:,:,1721,z,:,:,:,:,:,:
21,2001,*Total,*Total,71027,24867,46160,120949,31641,11449,z,...,775,21408,2399,z,:,:,:,:,:,:
22,2001,Africa North,*Total Africa North,1790,504,1286,4074,479,255,z,...,29,765,108,z,:,:,:,:,:,:
23,2001,Africa Sub-Saharan,*Total Africa Sub-Saharan,19049,5345,13704,28520,10695,4695,z,...,92,4311,436,z,:,:,:,:,:,:
24,2001,America North,*Total America North,14,5,9,12,1,0,z,...,0,2,5,z,:,:,:,:,:,:
25,2001,America Central and South,*Total America Central and South,1299,316,983,2052,180,68,z,...,21,383,134,z,:,:,:,:,:,:
26,2001,Asia Central,*Total Asia Central,8989,4569,4420,12463,9834,2325,z,...,196,1282,110,z,:,:,:,:,:,:
27,2001,Asia East,*Total Asia East,2555,1870,685,4576,183,19,z,...,20,1292,34,z,:,:,:,:,:,:
28,2001,Asia South,*Total Asia South,11431,4078,7353,19722,2518,1739,z,...,134,3850,324,z,:,:,:,:,:,:
29,2001,Asia South East,*Total Asia South East,573,225,348,996,135,50,z,...,2,454,35,z,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,2017,Asia South East,Thailand,22,0,22,18,2,2,0,...,0,0,5,1,0,31,28,5,23,3
4483,2017,Africa Sub-Saharan,Togo,4,0,4,3,0,0,0,...,0,0,0,0,0,7,6,4,2,1
4484,2017,Oceania,Tokelau,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4485,2017,Oceania,Tonga,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4486,2017,America Central and South,Trinidad and Tobago,36,5,31,32,12,12,0,...,0,0,4,0,0,21,20,16,4,1
4487,2017,Africa North,Tunisia,33,6,27,29,3,3,0,...,0,0,8,3,0,27,27,14,13,0
4488,2017,Europe Other,Turkey,367,130,237,205,34,28,0,...,7,0,18,8,4,474,453,196,257,21
4489,2017,Asia Central,Turkmenistan,4,0,4,2,0,0,0,...,0,0,1,1,0,4,4,2,2,0
4490,2017,Other,Turks and Caicos Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4491,2017,Oceania,Tuvalu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4492,2017,Africa Sub-Saharan,Uganda,117,3,114,116,63,60,0,...,1,0,4,1,1,142,118,59,59,24
4493,2017,Europe Other,Ukraine,123,9,114,71,5,3,0,...,2,0,34,2,2,82,73,48,25,9
4494,2017,Middle East,United Arab Emirates,1,0,1,0,0,0,0,...,0,0,2,0,0,4,4,0,4,0
4495,2017,America North,United States,24,15,9,8,0,0,0,...,0,0,12,1,2,14,13,6,7,1
4496,2017,America Central and South,Uruguay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4497,2017,Asia Central,Uzbekistan,19,1,18,7,2,2,0,...,0,0,6,1,0,20,20,8,12,0
4498,2017,Oceania,Vanuatu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4499,2017,Europe Other,Vatican City,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4500,2017,America Central and South,Venezuela,19,2,17,16,0,0,0,...,0,0,2,1,1,17,15,12,3,2
4501,2017,Asia South East,Vietnam,1048,30,1018,505,185,130,12,...,17,0,184,122,7,1099,1062,461,601,37
4502,2017,Other,Virgin Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4503,2017,America North,Virgin Islands (US),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4504,2017,Oceania,Wallis and Futuna,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4505,2017,Africa North,Western Sahara,3,0,3,1,0,0,0,...,1,0,0,0,0,2,2,2,0,0
4506,2017,Middle East,Yemen,121,26,95,90,58,34,22,...,2,0,7,0,0,78,76,51,25,2
4507,2017,Africa Sub-Saharan,Zambia,20,1,19,16,3,3,0,...,0,0,0,0,0,19,18,7,11,1
4508,2017,Africa Sub-Saharan,Zimbabwe,221,15,206,232,25,17,0,...,3,0,11,2,1,236,162,85,77,74
4509,,,,,,,,,,,...,,,,,,,,,,
4510,,,,,,,,,,,...,,,,,,,,,,
4511,,,,,,,,,,,...,,,,,,,,,,

In [3]:
column_index = [[0,1,2,3,4,5,6],[0,1,2,7,8,9,10,11,12],[0,1,2,13,14,15,16,17],[0,1,2,18,19,20],[0,1,2,21,22,23,24,25]]
column_names = ['application_origin', 'grant_nature', 'refusal_nature', 'withdrawal_nature', 'pending_nature']
Final_table = pd.DataFrame()

for i in range(0,len(column_index)):

    observations = df.loc[3:, column_index[i]]
    observations.rename(columns= observations.iloc[0], inplace=True)
    observations.drop(observations.index[0], inplace = True)



    new_table = pd.melt(observations,
                           ['Year','Geographical region','Country of nationality'],
                           var_name= column_names[i],
                           value_name="Value")
    Final_table = pd.concat([Final_table,new_table])

/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [4]:
new_table.head()

   Year Geographical region Country of nationality pending_nature Value
0  1984              *Total                 *Total  Total pending     :
1  1985              *Total                 *Total  Total pending     :
2  1986              *Total                 *Total  Total pending     :
3  1987              *Total                 *Total  Total pending     :
4  1988              *Total                 *Total  Total pending     :

In [5]:
Final_table

,Country of nationality,Geographical region,Value,Year,application_origin,grant_nature,pending_nature,refusal_nature,withdrawal_nature
0,*Total,*Total,2905,1984,Total applications,NaN,NaN,NaN,NaN
1,*Total,*Total,4389,1985,Total applications,NaN,NaN,NaN,NaN
2,*Total,*Total,4266,1986,Total applications,NaN,NaN,NaN,NaN
3,*Total,*Total,4256,1987,Total applications,NaN,NaN,NaN,NaN
4,*Total,*Total,3998,1988,Total applications,NaN,NaN,NaN,NaN
5,*Total,*Total,11640,1989,Total applications,NaN,NaN,NaN,NaN
6,*Total,*Total,26205,1990,Total applications,NaN,NaN,NaN,NaN
7,*Total,*Total,44840,1991,Total applications,NaN,NaN,NaN,NaN
8,*Total,*Total,24605,1992,Total applications,NaN,NaN,NaN,NaN
9,*Total,*Total,22370,1993,Total applications,NaN,NaN,NaN,NaN
10,*Total,*Total,32831,1994,Total applications,NaN,NaN,NaN,NaN
11,*Total,*Total,43963,1995,Total applications,NaN,NaN,NaN,NaN
12,*Total,*Total,29642,1996,Total applications,NaN,NaN,NaN,NaN
13,*Total,*Total,32502,1997,Total applications,NaN,NaN,NaN,NaN
14,*Total,*Total,46014,1998,Total applications,NaN,NaN,NaN,NaN
15,*Total,*Total,71158,1999,Total applications,NaN,NaN,NaN,NaN
16,*Total,*Total,80315,2000,Total applications,NaN,NaN,NaN,NaN
17,*Total,*Total,71027,2001,Total applications,NaN,NaN,NaN,NaN
18,*Total Africa North,Africa North,1790,2001,Total applications,NaN,NaN,NaN,NaN
19,*Total Africa Sub-Saharan,Africa Sub-Saharan,19049,2001,Total applications,NaN,NaN,NaN,NaN
20,*Total America North,America North,14,2001,Total applications,NaN,NaN,NaN,NaN
21,*Total America Central and South,America Central and South,1299,2001,Total applications,NaN,NaN,NaN,NaN
22,*Total Asia Central,Asia Central,8989,2001,Total applications,NaN,NaN,NaN,NaN
23,*Total Asia East,Asia East,2555,2001,Total applications,NaN,NaN,NaN,NaN
24,*Total Asia South,Asia South,11431,2001,Total applications,NaN,NaN,NaN,NaN
25,*Total Asia South East,Asia South East,573,2001,Total applications,NaN,NaN,NaN,NaN
26,*Total EU 14,EU 14,41,2001,Total applications,NaN,NaN,NaN,NaN
27,*Total EU 2,EU 2,1515,2001,Total applications,NaN,NaN,NaN,NaN
28,*Total EU 8,EU 8,1920,2001,Total applications,NaN,NaN,NaN,NaN
29,*Total EU Other,EU Other,53,2001,Total applications,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22510,Thailand,Asia South East,3,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22511,Togo,Africa Sub-Saharan,1,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22512,Tokelau,Oceania,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22513,Tonga,Oceania,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22514,Trinidad and Tobago,America Central and South,1,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22515,Tunisia,Africa North,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22516,Turkey,Europe Other,21,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22517,Turkmenistan,Asia Central,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22518,Turks and Caicos Islands (British),Other,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22519,Tuvalu,Oceania,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22520,Uganda,Africa Sub-Saharan,24,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22521,Ukraine,Europe Other,9,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22522,United Arab Emirates,Middle East,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22523,United States,America North,1,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22524,Uruguay,America Central and South,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22525,Uzbekistan,Asia Central,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22526,Vanuatu,Oceania,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22527,Vatican City,Europe Other,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22528,Venezuela,America Central and South,2,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22529,Vietnam,Asia South East,37,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22530,Virgin Islands (British),Other,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22531,Virgin Islands (US),America North,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22532,Wallis and Futuna,Oceania,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22533,Western Sahara,Africa North,0,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22534,Yemen,Middle East,2,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22535,Zambia,Africa Sub-Saharan,1,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22536,Zimbabwe,Africa Sub-Saharan,74,2017,NaN,NaN,Pending further \nreview,NaN,NaN
22537,,,,,NaN,NaN,Pending further \nreview,NaN,NaN
22538,,,,,NaN,NaN,Pending further \nreview,NaN,NaN
22539,,,,,NaN,NaN,Pending further \nreview,NaN,NaN

In [6]:
Final_table.count()

Country of nationality    103684
Geographical region       103684
Value                     103684
Year                      103684
application_origin         18032
grant_nature               27048
pending_nature             22540
refusal_nature             22540
withdrawal_nature          13524
dtype: int64

In [7]:
Final_table = Final_table[Final_table['Value'] != '.']

In [8]:
Final_table = Final_table[Final_table['Value'] != 0 ]

In [9]:
Final_table = Final_table[Final_table['Value'] != 'z']

In [10]:
Final_table.count()

Country of nationality    48225
Geographical region       48225
Value                     48225
Year                      48225
application_origin        10565
grant_nature               5595
pending_nature            17335
refusal_nature             9303
withdrawal_nature          5427
dtype: int64

In [11]:
Final_table['Unit'] = 'People'
Final_table['Measure Type'] = 'Count'

In [12]:
Final_table.dtypes

Country of nationality    object
Geographical region       object
Value                     object
Year                      object
application_origin        object
grant_nature              object
pending_nature            object
refusal_nature            object
withdrawal_nature         object
Unit                      object
Measure Type              object
dtype: object

In [13]:
Final_table.head()

,Country of nationality,Geographical region,Value,Year,application_origin,grant_nature,pending_nature,refusal_nature,withdrawal_nature,Unit,Measure Type
0,*Total,*Total,2905,1984,Total applications,NaN,NaN,NaN,NaN,People,Count
1,*Total,*Total,4389,1985,Total applications,NaN,NaN,NaN,NaN,People,Count
2,*Total,*Total,4266,1986,Total applications,NaN,NaN,NaN,NaN,People,Count
3,*Total,*Total,4256,1987,Total applications,NaN,NaN,NaN,NaN,People,Count
4,*Total,*Total,3998,1988,Total applications,NaN,NaN,NaN,NaN,People,Count

In [14]:
Final_table['Value'] = pd.to_numeric(Final_table['Value'], errors='coerce').fillna(0)

In [15]:
Final_table['Value'] = Final_table['Value'].astype(int)

In [16]:
Final_table['Year'] = Final_table['Year'].astype(str)

In [17]:
Final_table['Year'] = pd.to_numeric(Final_table['Year'], errors='coerce').fillna(0)

In [18]:
Final_table['Year'] = Final_table['Year'].astype(int)

In [19]:
# Final_table.to_csv('rty.csv')

In [20]:
Final_table.head()

,Country of nationality,Geographical region,Value,Year,application_origin,grant_nature,pending_nature,refusal_nature,withdrawal_nature,Unit,Measure Type
0,*Total,*Total,2905,1984,Total applications,NaN,NaN,NaN,NaN,People,Count
1,*Total,*Total,4389,1985,Total applications,NaN,NaN,NaN,NaN,People,Count
2,*Total,*Total,4266,1986,Total applications,NaN,NaN,NaN,NaN,People,Count
3,*Total,*Total,4256,1987,Total applications,NaN,NaN,NaN,NaN,People,Count
4,*Total,*Total,3998,1988,Total applications,NaN,NaN,NaN,NaN,People,Count

In [21]:
# Final_table['Geography'] = Final_table['Geographical region'].str.lstrip('*')

In [22]:
Final_table['Geography'] = Final_table['Country of nationality'].str.lstrip('*')

In [23]:
# Final_table['Asylum Status'] = Final_table['Total applications'].str.lstrip('*')

In [24]:
Final_table['application_origin'] = Final_table['application_origin'].astype(str).map(lambda cell:cell.replace('Applications received in-country', 'Applications received in country'))

In [25]:
Final_table['pending_nature'] = Final_table['pending_nature'].astype(str).map(lambda cell:cell.replace('Pending further \nreview', 'Pending further review'))

In [26]:
Final_table = Final_table[['Geography','Year','application_origin', 'grant_nature', 'refusal_nature', 'withdrawal_nature', 'pending_nature','Measure Type','Value','Unit']]

In [27]:
Final_table.head()

,Geography,Year,application_origin,grant_nature,refusal_nature,withdrawal_nature,pending_nature,Measure Type,Value,Unit
0,Total,1984,Total applications,NaN,NaN,NaN,nan,Count,2905,People
1,Total,1985,Total applications,NaN,NaN,NaN,nan,Count,4389,People
2,Total,1986,Total applications,NaN,NaN,NaN,nan,Count,4266,People
3,Total,1987,Total applications,NaN,NaN,NaN,nan,Count,4256,People
4,Total,1988,Total applications,NaN,NaN,NaN,nan,Count,3998,People

In [28]:
Final_table = Final_table[Final_table['Value'] != 0 ]

In [29]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('as_01_q.csv'), index = False)

In [30]:
Final_table.head().count()

Geography             5
Year                  5
application_origin    5
grant_nature          0
refusal_nature        0
withdrawal_nature     0
pending_nature        5
Measure Type          5
Value                 5
Unit                  5
dtype: int64

In [31]:
Final_table.count()

Geography             34584
Year                  34584
application_origin    34584
grant_nature           5577
refusal_nature         9219
withdrawal_nature      3604
pending_nature        34584
Measure Type          34584
Value                 34584
Unit                  34584
dtype: int64

In [32]:
Final_table.dtypes

Geography             object
Year                   int64
application_origin    object
grant_nature          object
refusal_nature        object
withdrawal_nature     object
pending_nature        object
Measure Type          object
Value                  int64
Unit                  object
dtype: object