Table as_19_q: Refugees (and others) resettled, including dependants, by country of nationality

In [1]:
from gssutils import *

scraper = Scraper('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
scraper

## Immigration statistics, October to December 2017: data tables second edition

Listing of the data tables included in 'Immigration statistics, October to December 2017’.

### Description

Listing of the data tables included in [‘Immigration Statistics, October to
December 2017’](https://www.gov.uk/government/statistics/immigration-
statistics-october-to-december-2017).

Data is in yearly or quarterly divisions.

To view and use ‘ODS’ files, OS X users can [download
OpenOffice](http://www.openoffice.org/download/).



### Distributions

1. Sponsorship data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683358/sponsorship-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 1 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683359/entry-visas1-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 2 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681238/entry-visas2-oct-dec-2017-tables.ods))
1. Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681241/entry-visas3-oct-dec-2017-tables.ods))
1. Admissions data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681242/admissions-oct-dec-2017-tables.ods))
1. Extensions of stay data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681243/extensions-oct-dec-2017-tables.ods))
1. Settlement data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681244/settlement-oct-dec-2017-tables.ods))
1. Citizenship data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683360/citizenship-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 1 second edition ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691963/asylum1-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 2 second edition ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691964/asylum2-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691965/asylum3-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 4 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691967/asylum4-oct-dec-2017-tables.ods))
1. Asylum data tables immigration statistics October to December 2017 volume 5 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691969/asylum5-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 1 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681246/returns1-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 2 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683361/returns2-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 3 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/683362/returns3-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 4 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681250/returns4-oct-dec-2017-tables.ods))
1. Returns data tables immigration statistics October to December 2017 volume 5 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681251/returns5-oct-dec-2017-tables.ods))
1. Detention data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681703/detention-oct-dec-2017-tables.ods))
1. European Economic Area data tables immigration statistics October to December 2017 ([ODF Spreadsheet](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/681253/eea-oct-dec-2017-tables.ods))

In [2]:
dist = scraper.distribution(
    title='Asylum data tables immigration statistics October to December 2017 volume 4')
df = dist.as_pandas(sheet_name='as_19_q')

WARNING:Cache entry deserialization failed, entry ignored

In [3]:
df

,0,1,2,3,4,5
0,Table as_19_q: Refugees (and others) resettled...,,,,,
1,Back to contents,,,,,
2,,,,,,
3,Year,Country of nationality,Gateway Protection Programme,Mandate Scheme,Vulnerable Persons Resettlement Scheme,Vulnerable Children Resettlement Scheme
4,2004,*Total,150,z,z,z
5,2005,*Total,71,z,z,z
6,2006,*Total,353,z,z,z
7,2007,*Total,463,z,z,z
8,2008,*Total,642,75,z,z
9,2009,*Total,857,90,z,z
10,2010,*Total,669,49,z,z
11,2011,*Total,432,22,z,z
12,2012,*Total,985,54,z,z
13,2013 Q1,*Total,223,9,z,z
14,2013 Q1,Bhutan,38,0,z,z
15,2013 Q1,Congo (Democratic Republic),138,0,z,z
16,2013 Q1,Ethiopia,11,0,z,z
17,2013 Q1,Iran,0,5,z,z
18,2013 Q1,Iraq,36,2,z,z
19,2013 Q1,Rwanda,0,1,z,z
20,2013 Q1,Somalia,0,1,z,z
21,2013 Q2,*Total,227,4,z,z
22,2013 Q2,Bhutan,55,0,z,z
23,2013 Q2,Congo (Democratic Republic),0,3,z,z
24,2013 Q2,Iraq,7,1,z,z
25,2013 Q2,Somalia,165,0,z,z
26,2013 Q3,*Total,279,6,z,z
27,2013 Q3,Congo (Democratic Republic),0,3,z,z
28,2013 Q3,Eritrea,2,0,z,z
29,2013 Q3,Ethiopia,15,0,z,z
...,...,...,...,...,...,...
152,2017 Q3,Afghanistan,0,0,0,10
153,2017 Q3,Congo (Democratic Republic),26,0,0,0
154,2017 Q3,Djibouti,1,0,0,0
155,2017 Q3,Eritrea,2,0,0,2
156,2017 Q3,Ethiopia,5,0,0,0
157,2017 Q3,Iran,0,0,0,3
158,2017 Q3,Iraq,14,0,0,64
159,2017 Q3,Nigeria,0,0,0,1
160,2017 Q3,Occupied Palestinian Territories,0,0,0,5
161,2017 Q3,Somalia,62,0,0,5
162,2017 Q3,Sudan,64,0,0,33
163,2017 Q3,Sudan (South),17,0,0,1
164,2017 Q3,Syria,0,1,859,8
165,2017 Q3,Uganda,1,0,0,0
166,2017 Q3,Other and unknown,3,0,0,0
167,2017 Q3,Yemen,6,0,0,0
168,2017 Q4,*Total,220,5,1144,158
169,2017 Q4,Afghanistan,7,0,0,9
170,2017 Q4,Congo (Democratic Republic),85,0,0,0
171,2017 Q4,Eritrea,1,0,0,2
172,2017 Q4,Ethiopia,6,0,0,11
173,2017 Q4,Iraq,24,0,0,92
174,2017 Q4,Pakistan,0,4,0,0
175,2017 Q4,Occupied Palestinian Territories,0,0,0,4
176,2017 Q4,Somalia,44,1,0,5
177,2017 Q4,Sudan,45,0,0,31
178,2017 Q4,Sudan (South),8,0,0,3
179,2017 Q4,Stateless,0,0,0,1
180,2017 Q4,Syria,0,0,1144,0
181,,,,,,

In [4]:
observations = df.loc[3:, :5]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0], inplace = True)
Final_table = pd.melt(observations,
                       ['Year','Country of nationality'],
                       var_name= 'Resettlement scheme',
                       value_name="Value")
Final_table.Value.dropna(inplace =True)
Final_table.rename(columns={'Country of nationality': 'Nationality'}, inplace=True)
Final_table['Unit'] = 'refugees-and-dependants'
Final_table['Measure Type'] = 'Count'

In [5]:
Final_table['Value'] = Final_table['Value'].map(lambda x : ''
                                                   if (x == '.') | (x == 'z') | ( x == ':')
                                                    else x )

In [6]:
import numpy as np
Final_table['Value'].replace('', np.nan, inplace=True)
Final_table.dropna(subset=['Value'], inplace=True)
Final_table['Value'] = Final_table['Value'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
Final_table['Value'] = Final_table['Value'].astype(int)

In [7]:
Final_table.rename(columns={'Year': 'Period'}, inplace=True)
Final_table['Period'] = Final_table['Period'].astype(str)
Final_table = Final_table[Final_table['Period'] != '']

In [8]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

Final_table['Period'] = Final_table['Period'].apply(time2period)

In [9]:
Final_table['Nationality'] = Final_table['Nationality'].str.lstrip('*')

In [10]:
Final_table['Nationality'] = Final_table['Nationality'].map(
    lambda x: {
        'Afghanistan ' : 'Afghanistan'                          
        }.get(x, x))

In [11]:
Final_table['Resettlement scheme'] = Final_table['Resettlement scheme'].map(
    lambda x: {
        'Gateway Protection Programme' : 'gateway',
        'Mandate Scheme' : 'mandate',
        'Vulnerable Persons Resettlement Scheme' : 'vulnerable-persons',
        'Vulnerable Children Resettlement Scheme' : 'vulnerable-children'
        }.get(x, x))

In [12]:
import urllib.request as request
import csv
import io
import requests
r = request.urlopen('https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/ho-country-of-nationality.csv').read().decode('utf8').split("\n")
reader = csv.reader(r)
url="https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/ho-country-of-nationality.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
Final_table = pd.merge(Final_table, c, how = 'left', left_on = 'Nationality', right_on = 'Label')
Final_table.columns = ['Country of nationality' if x=='Notation' else x for x in Final_table.columns]

In [13]:
def user_perc(x,y):
    
    if str(x) == 'Vulnerable Children Resettlement Scheme' :
        return 'Refugees and dependents'
    else:
        return y
    
Final_table['Unit'] = Final_table.apply(lambda row: user_perc(row['Resettlement scheme'],row['Unit']), axis = 1)

In [14]:
Final_table = Final_table[['Period','Country of nationality','Resettlement scheme','Measure Type','Value','Unit']]

In [15]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('as_19_q.csv'), index = False)

In [16]:
from gssutils.metadata import THEME

scraper.dataset.family = 'migration'
scraper.dataset.theme = THEME['population']
scraper.set_base_uri('http://gss-data.org.uk')
scraper.set_dataset_id('migration/ho-asylum/as_19_q')
with open(destinationFolder / 'as_19_q.csv-metadata.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [17]:
Final_table

,Period,Country of nationality,Resettlement scheme,Measure Type,Value,Unit
0,year/2004,total,gateway,Count,150,refugees-and-dependants
1,year/2005,total,gateway,Count,71,refugees-and-dependants
2,year/2006,total,gateway,Count,353,refugees-and-dependants
3,year/2007,total,gateway,Count,463,refugees-and-dependants
4,year/2008,total,gateway,Count,642,refugees-and-dependants
5,year/2009,total,gateway,Count,857,refugees-and-dependants
6,year/2010,total,gateway,Count,669,refugees-and-dependants
7,year/2011,total,gateway,Count,432,refugees-and-dependants
8,year/2012,total,gateway,Count,985,refugees-and-dependants
9,quarter/2013-Q1,total,gateway,Count,223,refugees-and-dependants
10,quarter/2013-Q1,bhutan,gateway,Count,38,refugees-and-dependants
11,quarter/2013-Q1,congo-democratic-republic,gateway,Count,138,refugees-and-dependants
12,quarter/2013-Q1,ethiopia,gateway,Count,11,refugees-and-dependants
13,quarter/2013-Q1,iran,gateway,Count,0,refugees-and-dependants
14,quarter/2013-Q1,iraq,gateway,Count,36,refugees-and-dependants
15,quarter/2013-Q1,rwanda,gateway,Count,0,refugees-and-dependants
16,quarter/2013-Q1,somalia,gateway,Count,0,refugees-and-dependants
17,quarter/2013-Q2,total,gateway,Count,227,refugees-and-dependants
18,quarter/2013-Q2,bhutan,gateway,Count,55,refugees-and-dependants
19,quarter/2013-Q2,congo-democratic-republic,gateway,Count,0,refugees-and-dependants
20,quarter/2013-Q2,iraq,gateway,Count,7,refugees-and-dependants
21,quarter/2013-Q2,somalia,gateway,Count,165,refugees-and-dependants
22,quarter/2013-Q3,total,gateway,Count,279,refugees-and-dependants
23,quarter/2013-Q3,congo-democratic-republic,gateway,Count,0,refugees-and-dependants
24,quarter/2013-Q3,eritrea,gateway,Count,2,refugees-and-dependants
25,quarter/2013-Q3,ethiopia,gateway,Count,15,refugees-and-dependants
26,quarter/2013-Q3,iraq,gateway,Count,7,refugees-and-dependants
27,quarter/2013-Q3,somalia,gateway,Count,150,refugees-and-dependants
28,quarter/2013-Q3,sudan,gateway,Count,105,refugees-and-dependants
29,quarter/2013-Q4,total,gateway,Count,206,refugees-and-dependants
...,...,...,...,...,...,...
522,quarter/2017-Q3,total,vulnerable-children,Count,132,refugees-and-dependants
523,quarter/2017-Q3,afghanistan,vulnerable-children,Count,10,refugees-and-dependants
524,quarter/2017-Q3,congo-democratic-republic,vulnerable-children,Count,0,refugees-and-dependants
525,quarter/2017-Q3,djibouti,vulnerable-children,Count,0,refugees-and-dependants
526,quarter/2017-Q3,eritrea,vulnerable-children,Count,2,refugees-and-dependants
527,quarter/2017-Q3,ethiopia,vulnerable-children,Count,0,refugees-and-dependants
528,quarter/2017-Q3,iran,vulnerable-children,Count,3,refugees-and-dependants
529,quarter/2017-Q3,iraq,vulnerable-children,Count,64,refugees-and-dependants
530,quarter/2017-Q3,nigeria,vulnerable-children,Count,1,refugees-and-dependants
531,quarter/2017-Q3,occupied-palestinian-territories,vulnerable-children,Count,5,refugees-and-dependants
532,quarter/2017-Q3,somalia,vulnerable-children,Count,5,refugees-and-dependants
533,quarter/2017-Q3,sudan,vulnerable-children,Count,33,refugees-and-dependants
534,quarter/2017-Q3,sudan-south,vulnerable-children,Count,1,refugees-and-dependants
535,quarter/2017-Q3,syria,vulnerable-children,Count,8,refugees-and-dependants
536,quarter/2017-Q3,uganda,vulnerable-children,Count,0,refugees-and-dependants
537,quarter/2017-Q3,other-and-unknown,vulnerable-children,Count,0,refugees-and-dependants
538,quarter/2017-Q3,yemen,vulnerable-children,Count,0,refugees-and-dependants
539,quarter/2017-Q4,total,vulnerable-children,Count,158,refugees-and-dependants
540,quarter/2017-Q4,afghanistan,vulnerable-children,Count,9,refugees-and-dependants
541,quarter/2017-Q4,congo-democratic-republic,vulnerable-children,Count,0,refugees-and-dependants
542,quarter/2017-Q4,eritrea,vulnerable-children,Count,2,refugees-and-dependants
543,quarter/2017-Q4,ethiopia,vulnerable-children,Count,11,refugees-and-dependants
544,quarter/2017-Q4,iraq,vulnerable-children,Count,92,refugees-and-dependants
545,quarter/2017-Q4,pakistan,vulnerable-children,Count,0,refugees-and-dependants
546,quarter/2017-Q4,occupied-palestinian-territories,vulnerable-children,Count,4,refugees-and-dependants
547,quarter/2017-Q4,somalia,vulnerable-children,Count,5,refugees-and-dependants
548,quarter/2017-Q4,sudan,vulnerable-children,Count,31,refugees-and-dependants
549,quarter/2017-Q4,sudan-south,vulnerable-children,Count,3,refugees-and-dependants
550,quarter/2017-Q4,stateless,vulnerable-children,Count,1,refugees-and-dependants
551,quarter/2017-Q4,syria,vulnerable-children,Count,0,refugees-and-dependants